.progress-bar-container {
  height: 24px;
  max-height: 24px;
  background-color: #f2fbfa;
  margin: 0 10px;
}

.progress-bar-text {
  color: #f2fbfa;
  font-weight: 600;
  background-color: #00b797;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  min-width: 40px;
}

.progress-bar-container,
.progress-bar-text {
  border-radius: 20px;
}
